<%= form_for(order) do |f| %>
  <% if order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :order_date %>
    <%= f.datetime_select :order_date %>
  </div>

  <div class="field">
    <%= f.label :client_name %>
    <%= f.text_field :client_name %>
  </div>

  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>

  <div class="field">
    <%= f.label :phone %>
    <%= f.text_field :phone %>
  </div>

  <div class="field">
    <%= f.label :model %>
    <%= f.number_field :model %>
  </div>

  <div class="field">
    <%= f.label :color %>
    <%= f.text_field :color %>
  </div>

  <div class="field">
    <%= f.label :size %>
    <%= f.number_field :size %>
  </div>

  <div class="field">
    <%= f.label :hood_color %>
    <%= f.text_field :hood_color %>
  </div>

  <div class="field">
    <%= f.label :sleeves_color %>
    <%= f.text_field :sleeves_color %>
  </div>

  <div class="field">
    <%= f.label :embroidery_type %>
    <%= f.number_field :embroidery_type %>
  </div>

  <div class="field">
    <%= f.label :main_embroidery %>
    <%= f.text_field :main_embroidery %>
  </div>

  <div class="field">
    <%= f.label :secondary_embroidery %>
    <%= f.text_field :secondary_embroidery %>
  </div>

  <div class="field">
    <%= f.label :embroidery_color %>
    <%= f.text_field :embroidery_color %>
  </div>

  <div class="field">
    <%= f.label :manufactured_date %>
    <%= f.date_select :manufactured_date %>
  </div>

  <div class="field">
    <%= f.label :delivery_date %>
    <%= f.date_select :delivery_date %>
  </div>

  <div class="field">
    <%= f.label :price %>
    <%= f.text_field :price %>
  </div>

  <div class="field">
    <%= f.label :cost_price %>
    <%= f.text_field :cost_price %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
