<p id="notice"><%= notice %></p>

<h1>Pedidos</h1>

<table>
  <thead>
    <tr>
      <th>Data do Pedido</th>
      <th>Nome do Cliente</th>
      <th>Email</th>
      <th>telefone</th>
      <th>Modelo</th>
      <th>Cor</th>
      <th>Tamanho</th>
      <th>Status</th>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.order_date %></td>
        <td><%= order.client_name %></td>
        <td><%= order.email %></td>
        <td><%= order.phone %></td>
        <td><%= order.model %></td>
        <td><%= order.color %></td>
        <td><%= order.size %></td>
        <td><%= order.status %></td>
        <td><%= link_to 'Ver', order %></td>
        <td><%= link_to 'Editar', edit_order_path(order) %></td>
        <td><%= link_to 'Excluir', order, method: :delete, data: { confirm: 'Você tem certeza?' } %></td>
        <td class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">status</a>
     <div class="dropdown-menu">
        <a class="dropdown-item" <%= link_to 'Pago', controller: "orders", action: "paid", id:order, data: { confirm: 'PAGAMENTO CONFIRMADO! Deseja encaminhar o pedido para produção?' } %> </a>
        <a class="dropdown-item" <%= link_to 'Em produção', controller: "orders", action: "making", id:order, data: { confirm: 'Moletom em confeccção!' } %> </a>
        <a class="dropdown-item" <%= link_to 'Enviado', controller: "orders", action: "shipped", id:order, data: { confirm: 'Moletom enviado pelo fornecedor!' } %> </a>
       <a class="dropdown-item" <%= link_to 'Concluído', controller: "orders", action: "completed", id:order, data: { confirm: 'Pedido concluído' } %> </a>
       <a class="dropdown-item" <%= link_to 'Cancelado', controller: "orders", action: "cancelled", id:order, data: { confirm: 'Pedido cancelado!' } %> </a>
     
      </td>
     </div> 
 </tr>
      
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo pedido', new_order_path %>
