<% content_for :title do %>About<% end %>
<h3>Sobre a Veleta</h3>
<p>
	Veleta camisetas foi criada em 2015 a fim de atender o mercado de moletons personalizados da Universidade de Brasília
     tendo atingido potencial crescimento no último ano e visando utilizar futuramente apenas ecommerce para atender o mercado de todo o Brasil.
->This web application was created with
<%= link_to('Rails Composer', 'http://railsapps.github.io/rails-composer/') %>
from the <%= link_to('RailsApps project', 'http://railsapps.github.io/') %>.
</p>
