<p id="notice"><%= notice %></p>

<h1>Pedidos do Fornecedor</h1>

<table>
  <thead>
    <tr>
      <th>Data do pedido</th>
      <th>Nome do Cliente</th>
      <th>Email</th>
      <th>telefone</th>
      <th>Modelo</th>
      <th>Cor</th>
      <th>Tamanho</th>
      <th>Status</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.order_date %></td>
        <td><%= order.client_name %></td>
        <td><%= order.email %></td>
        <td><%= order.phone %></td>
        <td><%= order.model %></td>
        <td><%= order.color %></td>
        <td><%= order.size %></td>
        <td><%= order.status %></td>
        <td><%= link_to 'Ver', controller: "supplier_orders", action: "show", id:order %></td>
        <td class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">status</a>
     <div class="dropdown-menu">
        
        <a class="dropdown-item" <%= link_to 'Em produção', controller: "supplier_orders", action: "making", id:order, data: { confirm: 'Moletom em confeccção!' } %> </a>
        <a class="dropdown-item" <%= link_to 'Enviado', controller: "supplier_orders", action: "shipped", id:order, data: { confirm: 'Moletom enviado pelo fornecedor!' } %> </a>
       <a class="dropdown-item" <%= link_to 'Concluído', controller: "supplier_orders", action: "completed", id:order, data: { confirm: 'Pedido concluído' } %> </a>
       
     
      </td>
     </div> 
 </tr>
       </tr>
    <% end %>
  </tbody>
</table>

<br>


