<p id="notice"><%= notice %></p>

<p>
  <strong>Data do Pedido:</strong>
  <%= @order.order_date %>
</p>

<p>
  <strong>Nome do Cliente:</strong>
  <%= @order.client_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @order.email %>
</p>

<p>
  <strong>Telefone:</strong>
  <%= @order.phone %>
</p>

<p>
  <strong>Modelo:</strong>
  <%= @order.model %>
</p>

<p>
  <strong>Cor:</strong>
  <%= @order.color %>
</p>

<p>
  <strong>Tamanho:</strong>
  <%= @order.size %>
</p>

<p>
  <strong>Cor do capuz:</strong>
  <%= @order.hood_color %>
</p>

<p>
  <strong>Cor das mangas:</strong>
  <%= @order.sleeves_color %>
</p>

<p>
  <strong>Tipo de bordado:</strong>
  <%= @order.embroidery_type %>
</p>

<p>
  <strong>Texto do bordado principal:</strong>
  <%= @order.main_embroidery %>
</p>

<p>
  <strong>Bordado secundário:</strong>
  <%= @order.secondary_embroidery %>
</p>

<p>
  <strong>Cor do bordado:</strong>
  <%= @order.embroidery_color %>
</p>

<p>
  <strong>Data de entrega da fábrica:</strong>
  <%= @order.manufactured_date %>
</p>

<p>
  <strong>Data da entrega:</strong>
  <%= @order.delivery_date %>
</p>

<p>
  <strong>Preço:</strong>
  <%= @order.price %>
</p>

<p>
  <strong>Preço de custo:</strong>
  <%= @order.cost_price %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
