<% if user_signed_in? %>
  <li class='nav-item'><%= link_to 'Configurar conta', edit_user_registration_path, class: 'nav-link' %></li>
  <li class='nav-item'><%= link_to 'Sair', destroy_user_session_path, :method=>'delete', class: 'nav-link' %></li>
<% else %>
  <li class='nav-item'><%= link_to 'Entrar', new_user_session_path, class: 'nav-link' %></li>
  <li class='nav-item'><%= link_to 'Criar Usuário', new_user_registration_path, class: 'nav-link' %></li>
<% end %>
<% if user_signed_in? %>
  <% if current_user.try(:admin?) %>
    <li class='nav-item'><%= link_to 'Editar usuários', users_path, class: 'nav-link' %></li>
    <li class='nav-item'><%= link_to 'Pedidos', orders_path, class: 'nav-link' %></li>
  <% end %>
  <% if current_user.try(:supplier?) %>
    <li class='nav-item'><%= link_to 'Pedidos do fornecedor', supplier_orders_path, class: 'nav-link' %></li>
  <% end %>
<% end %>
