<%# navigation styled for Bootstrap 4.0 %>
<div class="container">
  <nav class="navbar navbar-light bg-faded">
    <ul class="nav navbar-nav clearfix">
     <nav class="navbar navbar-light bg-faded">
      <a class="navbar-brand" href="#">
       <img src="/assets/Veleta.png" >
        <li class="nav-item">
        <button class="navbar-toggler hidden-sm-up nav-link" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar2" aria-controls="exCollapsingNavbar2" aria-expanded="false" aria-label="Toggle navigation">
                    &#9776;
            </a>
        </button>
      </li>
    </ul>
    <div class="collapse navbar-toggleable-xs" id="exCollapsingNavbar2">
      <%= link_to "Veleta Camisetas", root_path, class: 'navbar-brand' %>
      <ul class="nav navbar-nav">
        <%= render 'layouts/navigation_links' %>
        <%= render 'layouts/nav_links_for_auth' %>
      </ul>
    </div>
  </nav>
</div>
